/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 2%;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 2%;
    padding-top: 0%;
    display: block;
}
.container-jana-navbar{
    width: 100%;
    padding-top: 0cm;
}

.wider{
    max-width: 1000px;
    background: #F5F5F5;
}

.click:hover {
    cursor: pointer;
}
